{% extends "../base/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h3>{% trans "Please log in to access the GIS platform" %}</h3>
    
    
    <div style="margin-top:6%" class="container">
      
      <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">{% trans "Log In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
