{% extends "../base/base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

{% leaflet_css plugins="forms" %}
{% leaflet_js plugins="forms" %}

{{ form.media }}

<div class="container">
    <div class="jumbotron">
        <h1>{% trans "Add New Archaeological Site" %}</h1>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ site|crispy }}
        <h2>{% trans "Occurrence" %}</h2>
        {{ occurrence|crispy }}
        <input type="submit" value={% trans "Add" %} class="btn btn-success"/>
    </form>
</div>
<br>  
{% endblock %}