{% extends "../base/base.html" %}
{% load i18n %}
{% load class_tag %}
{% block content %}

<br>
<div class="container">
    <div class="jumbotron">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {% trans error %}
        </div>
        {% endif %}
        <p>{% trans "Are you sure you want to delete" %} "{{item}}"?</p>
        {% if item|get_class == 'Occurrence' %}
        <form action="{% url 'delete_occurrence' item.id %}" method="post">
            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'update_occurrence' item.id %}">{% trans "Cancel" %}</a>
        {% elif item|get_class == 'Site' %} 
        <form action="{% url 'delete_site' item.id %}" method="post">
            {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'update_site' item.id %}">{% trans "Cancel" %}</a>
        {% endif %}
            <input type="submit" value={% trans "Delete" %} class="btn btn-danger"/>
        </form>
    </div>
</div>

{% endblock %}