footer {
  padding-top: 3rem;
  margin-top: auto;
  background-color: #d8d7d7;
}

footer p {
  margin-bottom: .25rem;
}

body {
  padding: 0;
  padding-top: 55px; 
  margin: 0;
  display: flex;
  flex-flow: column;
}

html, body, #map {
  height: 100%;
  position: relative;
  min-height: 100%;
  /*font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;*/
}

.lorem {
  font-style: italic;
  color: #AAA;
}

#sidebar{
  margin-top: 55px; 
  z-index: 999;
}

nav{
  z-index: 1000;
}
