<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>LOG IN</title>
  </head>
  <body>

    <div class="container">
      <div class="jumbotron">

        <h2>PROJECT ODYSSEY </h2>
        <p>Please log in to access the GIS platform</p>

      </div>
      <form class="form-group" action="" method="post">
        <label for="username"></label>
        <input type="text" class= "form-control" name="" placeholder="username">

        <label for="password"></label>
        <input type="password" class= "form-control" name="">

      </form>

      <button type="submit" name="btn btn-default" name="button">Submit</button>


    </div>

  </body>
</html>
