{% extends "../base/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="jumbotron">

        <h1>Odyssey - {% trans "Platform for Automated Sensing in Archaeology" %}</h1>

      &nbsp
      <p align="justify"> "Odyssey" is a Portuguese research project that merges the potential of geoinformatics and the study of the past. Formed by a multidisciplinary team of archaeologists and computer engineers, the project aims to locate archaeological sites by employing non-invasive remote-sensing techniques. This approach is relatively new in archaeological research and the first of its kind in Portuguese territory. </p>

      <p align ="justify">The project takes place from 2021 to 2023 and it is funded by the European Union</p>

    </div>
</div>
{% endblock %}
