<!DOCTYPE html>
{% extends "../base/base.html" %}
{% load static %}


{% block content%}

<div class="container">
  <div class="jumbotron">

  <h1 class="text-center">INSTITUTIONS</h1>
</div>
</div>





<div class="container">


<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">

        <img class="mx-auto d-block" src= "{% static 'img/ERA_arq.jpg' %}" alt="Responsive image" style= "width:63%" >
        <div class="caption">
          &nbsp
          <h4 class="text-center">ERA Arqueologia</h4>
          &nbsp
          <p class="text-justify">Archaeology company founded in 1997.</p>
          <p class="text-justify"> ERA has worked all over Portugal and has contributed in very diverse projects. The study of Archaeology in Portugal was traditionally done by public institutions (universities, museums, etc) but ERA has showed in the last 25 years how the private sector can contribute in innovative, professional and efficient ways to the study of the human past. </p>
          <p class="text-justify"> ERA is the coordinating entity of the project.</p>


        </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">

        <img class="mx-auto d-block" src= "{% static 'img/IEETA.png' %}" alt="Responsive image" style="width:52%" >
        <div class="caption">
          &nbsp
          <h4 class="text-center">Universidade de Aveiro</h4>
          &nbsp
          <p class="text-justify">Public university founded in 1973.</p>
          <p class="text-justify"> The project's team is based at IEETA (Instituto de Engenheria Eletronica e Telemática de Aveiro), a Computer Science Engineering research unit. Researchers from two different areas of study are working within the project: GIS developers and Artificial Intelligence specialists.  </p>
          <p class= "text-justify"> The Universidade de Aveiro is a leading institution in the area of Computer Engineering. </p>

        </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">

        <img class="mx-auto d-block" src= "{% static 'img/ISMAI_MAIA.png' %}"  alt="Responsive image" style="width:58%">
        <div class="caption">
          &nbsp
          <h4 class="text-center">Universidade de Maia</h4>
          &nbsp
          <p class="text-justify">Private university founded in 1990.</p>
          <p class="text-justify">The most important private university in northern Portugal. Researchers from this university were among the first to work with LiDAR and multiespectral data.  </p>
          <p class="text-justify"></p>

        </div>

    </div>
  </div>
</div>

</div>






{% endblock %}
