<!DOCTYPE html>
{% extends "../base/base.html" %}
{% load static %}

{% block content%}

<div class="container">
  <div class="jumbotron">

  <h1 class="text-center">OBJECTIVES</h1>
</div>
</div>

<div class="container">

  <p align= "justify">The project's main goal is to support the tasks of archaeologists. The employment of remote-sensing techniques in Archaeology is not something  new. The use of aerial photographs was the first approach to study archaeological heritage from a distance. It helped to understand archaeological sites from a different perspective and also supported fieldwork tasks. Recently new elements have entered into archaeological research such as the use of satellite imagery or drones with new data such as LiDAR point clouds or multiespectal imagery. These elements were not created for Archaeology but many archaeologists saw how they could be of use for archaeological research and started applying them. These kind of studies begun in northern Europe and are just starting to be used in Portugal.    </p>

  <p align ="justify">The potential of multiespectral imagery and LiDAR data, if used correctly, is that they contain very detailed information of interest to archaeologists, such as topographic anomalies (that could potentially be archaeological) or differences in moisture conditions of the soil (that could hint at possible archaeological sites). It must be said that these techniques do not substitute archaeological fieldwork such as excavations or surveys. They serve as support and their information must be verified with fieldwork</p>

  <p align ="justify"> To sum up we can say that the project's main goal is to help in the location of new archaeological sites and, by doing so,  in preserving and protecting cultural heritage. The use of this innovative approach can help new locate archaeological sites that would be very difficult to find by traditional means and at the same time it can do so in a very limited time saving time and money to archaeologists.</p>


</div>

{% endblock %}
