{% extends "geonode_base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
{% trans "Automatic Identification" %}
{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{% endblock %}


{% block body %}

<div class="page-header">
    <h2 class="page-title">{% trans "Automatic Archaeological Identification" %}</h2>
</div>

<div class="container">
    <div class="col-md-8">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">{% trans "Title" %}</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <br>
            <div class="form-group">
                <label for="purpose">{% trans "Purpose" %}</label>
                <br>
                <label class="radio-inline"><input type="radio" name="purpose" value="inference" required>Inference</label>
                <label class="radio-inline"><input type="radio" name="purpose" value="training">Training</label>
            </div>
            <br>
            <h4>{% trans "Select the layers that you want to use:" %}</h4>
            {% for layer in layers %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="layers" value="{{layer.file}}">
                    <label class="form-check-label">{{layer.name}}</label>
                </div>  
            {% endfor %}
            <br>
            <input type="submit" value={% trans "Start" %} class="btn btn-success"/>
        </form>
    </div>
    {% if occurrences %}
        <div class="col-md-4">
        <h5>{% trans "Archaeological occurrences inside the area of interest:" %}</h5>
        <ul class="nav nav-list" style="height: 65vh; overflow: auto">
        {% for occurrence in occurrences %}
            <li><a href="{{ occurrence.get_absolute_url }}">{{ occurrence.designation }}</a></li>
        {% endfor %}
        </ul>
        </div>
        {% endif %}
</div>
<br>  
{% endblock %}
