{% extends "geonode_base.html" %}
{% load i18n %}
{% load class_tag %}

{% block title %}
{% trans "Import Occurrences" %}
{% endblock %}

{% block body %}
<div class="container" style="min-height:45vh;">
    <div class="page-header">
        <h2 class="page-title">{% trans "Import Occurrences" %}</h2>
        <h4>
            {% trans "In " %}
            {% if site.id != None %}
            <a class="text-secondary" href="{% url 'view_site' site.id %}">{{site}}</a>
            {% endif %}
        </h4>
        <p>{% trans "Allowed document types" %}: <span class="label label-default">.csv</span></p>
    </div>
    <div class="row">
        <form action="" method="POST" enctype="multipart/form-data" class="form"> 
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="control-label">{% trans "File: " %}</label>
                <input type="file" name="csv_file" id="csv_file" required="True" class="form-control">
            </div>
            <div class="form-group">                    
                <button class="btn btn-primary">{% trans "Import" %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}