{% extends "geonode_base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% if form.instance.pk == None %}
       {% trans "Create Occurrence" %}
    {% else %}
        {% trans "Update Occurrence - " %} {{occurrence.designation}}
    {% endif %}
{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{{ form.media.css }}
<style>
    select { width: 100% }
</style>
{% endblock %}

{% block body %}

{% leaflet_css plugins="forms" %}
{% leaflet_js plugins="forms" %}

<div class="container">
    <div class="page-header">
        <h2>
            {% if form.instance.pk == None %}
                {% trans "Add New " %}
            {% endif %}
            {% trans "Occurrence" %}</h2>
        <h4>
            {% trans "In " %}
            {% if occurrence.site == None %}
            <a class="text-secondary" href="{% url 'view_site' site.id %}">{{site}}</a>
            {% else %}
            <a class="text-secondary" href="{% url 'view_site' occurrence.site.id %}">{{occurrence.site}}</a>
            {% endif %}
        </h4>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <h4>Metrics</h4>
        {{ formset.management_form }}
        {% crispy formset helper %}
        {% if form.instance.pk != None %}
        <a class="btn btn-danger" href="{% url 'delete_occurrence' occurrence.id %}">{% trans "Delete" %}</a>
        {% endif %}
    </form>
</div>
<br>
{% endblock %}

{% block extra_script %}
{{ form.media.js }}
{% endblock %}