{% extends "geonode_base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block extra_head %}
{{ form.media.css }}
<style>
    select { width: 100% }
</style>
{% endblock %}

{% block body %}

{% leaflet_css plugins="forms" %}
{% leaflet_js plugins="forms" %}

<div class="container">
    <div class="jumbotron">
        <h1>
            {% if form.instance.pk == None %}
                {% trans "Add New " %}
            {% endif %}
            {% trans "Occurrence" %}</h1>
        <h4>
            {% trans "In " %}
            {% if occurrence.site == None %}
            <a class="text-secondary" href="{% url 'update_site' site.id %}">{{site}}</a>
            {% else %}
            <a class="text-secondary" href="{% url 'update_site' occurrence.site.id %}">{{occurrence.site}}</a>
            {% endif %}
        </h4>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <h4>Metrics</h4>
        {{ formset.management_form }}
        {{ formset.non_form_errors.as_ul }}
        <table id="formset" class="form table table-sm table-hover">
        {% for form in formset.forms %}
        {% if forloop.first %}
        <thead><tr>
            {% for field in form.visible_fields %}
            <th>{{ field.label|capfirst }}</th>
            {% endfor %}
        </tr></thead>
        {% endif %}
        <tr class="{% cycle "row1" "row2" %}">
        {% for field in form.visible_fields %}
            <td>
            {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endif %}
            {{ field.errors.as_ul }}
            {{ field }}
            </td>
        {% endfor %}
        </tr>
        {% endfor %}
        </table>
        <input type="submit" value={% trans "Submit" %} class="btn btn-success"/>
        {% if form.instance.pk != None %}
        <a class="btn btn-danger" href="{% url 'delete_occurrence' occurrence.id %}">{% trans "Delete" %}</a>
        {% endif %}
    </form>
</div>
<br>
{% endblock %}

{% block extra_script %}
{{ form.media.js }}
{% endblock %}