{% extends "geonode_base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
{{site.name}}
{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
<style>
    .mrg-btm{
        margin-bottom: 10px;
    }
    .mrg-top{
        margin-top: 10px;
    }
</style>
{% leaflet_js %}
{% leaflet_css %}
{% endblock %}

{% block body %}
<div class="page-header">
    <h2 class="page-title">{{site.name}}</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="mrg-btm">
            {% leaflet_map "map" callback="map_init" %}
            </div>
             <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                <a class="nav-link active" data-toggle="tab" href="#info"><i class="fa fa-info-circle"></i> {% trans "Info" %}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#attributes"><i class="fa fa-align-justify"></i> {% trans "Attributes" %}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#occurrences"><i class="fa fa-map-pin"></i> {% trans "Occurrences" %}</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#documents"><i class="fa fa-folder-open"></i> {% trans "Documents" %}</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active mrg-top" id="info">
                    <dl class="dl-horizontal">
                        <dt>{% trans "Name" %}</dt>
                        <dd>{{site.name}}</dd>
                        <dt>{% trans "National Site Code" %}</dt>
                        <dd>{{site.national_site_code}}</dd>
                        <dt>{% trans "Country" %}</dt>
                        <dd>{{site.country_iso.name}}</dd>
                        <dt>{% trans "Parish" %}</dt>
                        <dd>{{site.parish}}</dd>
                        <dt>{% trans "Added by" %}</dt>
                        <dd><a href="{{site.added_by.get_absolute_url}}">{{site.added_by}}</a></dd>
                        <dt>{% trans "Status" %}</dt>
                        <dd>{{ site.get_status_site_display }}</dd>
                    </dl>
                </div>
                <div class="tab-pane mrg-top" id="attributes">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <th>{% trans "Category" %}</th>
                            <th>{% trans "Value" %}</th>
                        </thead>
                        <tbody>
                            {% for attribute in site.attribute_site.all %}
                            <tr>
                                <td>{{attribute.category}}</td>
                                <td>{{attribute.value}}</td>
                            </tr>
                            {% empty %}
                                <h5>{% trans "No attributes!" %}</h5>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane mrg-top" id="occurrences">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <th>{% trans "Occurrence" %}</th>
                            <th>{% trans "Altitude" %}</th>
                            <th>{% trans "Owner" %}</th>
                        </thead>
                        <tbody>
                            {% for occurrence in occurrences %}
                            <tr>
                                <td><a href="{% url 'view_occurrence' occurrence.id %}">{{occurrence.designation}}</a></td>
                                <td>{{occurrence.altitude}}</td>
                                <td>{{occurrence.owner}}</td>
                            </tr>
                            {% empty %}
                                <h5>{% trans "No occurrences!" %}</h5>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane mrg-top" id="documents">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <th>{% trans "Document" %}</th>
                            <th>{% trans "Publication Date" %}</th>
                            <th>{% trans "Abstract" %}</th>
                        </thead>
                        <tbody>
                            {% for document in site.document_site.all %}
                            <tr>
                                <td><a href="{{document.get_absolute_url}}">{{document.title_en}}</a></td>
                                <td>{{document.date}}</td>
                                <td>{{document.abstract_en}}</td>
                            </tr>
                            {% empty %}
                                <h5>{% trans "No documents!" %}</h5>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">
                    <a class="btn btn-primary  btn-md btn-block" href="{% url 'import_occurrences' site.id %}">{% trans "Import Occurrences" %}</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-primary  btn-md btn-block" href="{% url 'update_site' site.id %}">{% trans "Edit" %}</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-danger  btn-md btn-block" href="{% url 'delete_site' site.id %}">{% trans "Delete" %}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
<script>
  function map_init (map, options) {
    point = L.geoJson({{ site.location|geojsonfeature|safe}}).addTo(map);
    polygon = L.geoJson({{ site.surrounding_polygon|geojsonfeature|safe}}).addTo(map);
    var group = new L.featureGroup([point, polygon]);
    map.fitBounds([group.getBounds().getSouthWest(),group.getBounds().getNorthEast()]);
  }
</script>
{% endblock %}