{% extends "geonode_base.html" %}
{% load leaflet_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "Update Site - " %} {{site.name}}
{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
{{ form.media.css }}
<style>
    select { width: 100% }
</style>
{% endblock %}

{% block body %}

{% leaflet_css plugins="forms" %}
{% leaflet_js plugins="forms" %}

<div class="container">
    <div class="page-header">
        <a href="{% url 'import_occurrences' site.id %}" class="btn btn-primary pull-right">{% trans "Import Occurrences" %}</a>
        <h2>{% trans "Archaeological Site" %}</h2>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
    
        <hr>
        <h5>{% trans "Occurrences" %}</h5>
        <div class="card card-body">
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_occurrence' site.id %}">{% trans "Add New Occurrence" %}</a>
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>{% trans "Designation" %}</th>
                        <th>{% trans "Altitude" %}</th>
                        <th>{% trans "Owner" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for occurrence in occurrences %}
                        <tr>
                            <td>{{occurrence.designation}}</td>
                            <td>{{occurrence.altitude}}</td>
                            <td>{{occurrence.owner}}</td>
                            <td>
                                <a class="btn btn-sm btn-info" href="{% url 'view_occurrence' occurrence.id %}">{% trans "View" %}</a>
                                <a class="btn btn-sm btn-danger" href="{% url 'delete_occurrence' occurrence.id %}">{% trans "Delete" %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if occurrences.has_other_pages %}
            <ul class="pagination">
                {% if occurrences.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ occurrences.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="" tabindex="-1">&laquo;</a></li>
                {% endif %}
                {% for i in occurrences.paginator.page_range %}
                {% if occurrences.number == i %}
                    <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }} <span class="sr-only">(current)</span></a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if occurrences.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ occurrences.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="" tabindex="-1">&raquo;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
        <br>
        <input type="submit" value={% trans "Submit" %} class="btn btn-success"/>
        <a class="btn btn-danger" href="{% url 'delete_site' site.id %}">{% trans "Delete" %}</a>
    </form>
</div>
<br>
{% endblock %}

{% block extra_script %}
{{ form.media.js }}
{% endblock %}